
<html>
<head>

  <!--favicon location-->
  <link rel="shortcut icon" href="/static/favicon.ico">

  <!--javascript library references-->
  <script src="/static/jquery.min.js"></script>
  <script src="/static/fabric.min.js"></script>
  <script src="/static/bootstrap.bundle.min.js"></script>


  <!--socket io library-->
  <script src="/static/socket.io.js"></script>

  <!--javascript custom files-->
  <script src="/static/serverFunctions.js"></script>

  <!--stylesheet references-->
  <link rel="stylesheet" href="/static/bootstrap.min.css">

  <!--custom css styling-->
  <link rel="stylesheet" href="/static/styling.css">

</head>
<body>

  <div class="container-fluid">
  	<div class="row">
  	  <div class="col" style="padding:0">
  	    <h1 class="text-center">QUERY</h1>
  	  </div>
  	</div>

    <div class="row">
      <div class="col">
        <div class="row" style="padding-left:10px">
          <div class="col">
              <h5>When the robot (green) and the human (blue) follow the paths on the right, and are in the position of the larger dots,</h5>
          </div>
        </div>
          <div class="row" style="padding-left:10px">
            <div class="col">
                <h5>This is what Figaro heard:</h5>
            </div>
          </div>
          <div class="row" style="padding-left:10px">
            <div class="col" style="padding:0px" >
              <p style="justify-content:left; padding:0;" id="phrase"></p>
            </div>
          </div>
          <div class="row" style="padding-bottom:10px">
            <div class="col">
              <button id="editSpeech" type="button" class="btn btn-outline-secondary">Edit Speech</button>
            </div>
          </div>
      </div>

      <div class="col">
        <canvas id="canvas" width="480" height="360" style = 'border: solid black 0.5px;'></canvas>
      </div>
    </div>

    <div class="row" style="background-color:#EBEBEB; padding-left:10px; padding-top:20px">
      <div class="col">
          <h5>Who is the speaker?</h5>
      </div>
    </div>
    <div class="row" style="background-color:#EBEBEB; padding:10px">
      <div class="btn-group">
        <button id="robot" type="button" class="btn btn-outline-secondary btn-lg">Robot</button>
        <button id="human" type="button" class="btn btn-outline-secondary btn-lg">Human</button>
      </div>
    </div>
      <div class="row" style="background-color:#EBEBEB; padding-left:10px; padding-top:20px">
          <div class="col">
              <h5>What is the category for this speech?</h5>
          </div>
      </div>
      <div class="row" style="background-color:#EBEBEB; padding:10px">
        <div class="btn-group">
          <button id="tagSelect" type="button" class="btn btn-outline-secondary btn-lg">Select existing category: </button>
          <button id="tagNew" type="button" class="btn btn-outline-secondary btn-lg">Create new category: </button>
          <button id="tagNone" class="btn btn-outline-secondary btn-lg" type="button">This was nothing.</button>
        </div>
      </div>
      <div class="row" style="padding:10px">
        <div class="col-10">
        </div>
      <div class="col">
          <button id="done" class="btn btn-outline-secondary btn-lg" type="button">Done</button>
      </div>
    </div>

  </div>

  <!-- Modal to create new tag -->
  <div id="newTagModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="newTagName"><h5>New Category Name:<h5></label>
            <input type="text" class="form-control" id="newTagName">
          </div>

          <h5>Possible phrases for this category:</h5>
          <div class="container" style="max-height:300px; overflow-y:auto">
            <table id="newPhraseTable" class=" table order-list">
              <tbody>
                <tr>
                  <td id="autoPhrase_new" class="col-sm-4"></td>
                  <td class="col-sm-2"><a class="deleteRow_new"></a></td>
                </tr>
              </tbody>
            </table>
            <input type="button" class="btn btn-block btn-outline-secondary" id="addrow_new" value="+" />
          </div>

        </div>
        <div class="modal-footer">
          <button id="done_new" type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Done</button>
          <button id="cancel_new" type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal to select existing tag -->
  <div id="existingTagModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="existingTagList"><h5>Select existing category:</h5></label>
            <select class="custom-select" style="background-color:#f8f9fa" id="existingTagList">
              <option value="--">--</option>
            </select>
          </div>

          <h5 id="existingInstructionText"></h5>
          <div class="container" style="max-height:300px; min-height:300px; overflow-y:auto">
            <table id="existingPhraseTable" class="table order-list" hidden>
              <tbody>
                <tr>
                  <td id="autoPhrase_existing" class="col-sm-4"></td>
                  <td class="col-sm-2"><a class="deleteRow_existing"></a></td>
                </tr>
              </tbody>
            </table>
            <input type="button" class="btn btn-block btn-outline-secondary" id="addrow_existing" value="+" hidden/>
          </div>

        </div>
        <div class="modal-footer">
          <button id="done_select" type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Done</button>
          <button id="cancel_select" type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal for confirmation -->
  <div id="confirmationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" id="cancel_confirm">&times;</button>
        </div>
        <div class="modal-body">
            <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button id="finish_confirm" type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Yes</button>
          <button id="cancel_confirm" type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>

  <script>
    var newTagName = ""
    var newTagPhrase = []
    var prePhrase = ""
    var postPhrase = ""
    var queryPhrase = ""
    var speakerChoice = ""
    var tagChoice = "unselected"

    var origUserDefinedCats = {}
    var userDefinedCats = {}
    var tempUserDefinedCats = {}  

    var selectedExistingTag = "--"

    var canvas = new fabric.Canvas('canvas');
    var xScale = 480
    var yScale = 360
    var majorRadius = 20
    var majorAlpha = 1
    var minorRadius = 10
    var minorAlpha = 0.6
    var robotColor = '60,125,60,'
    var humanColor = '0, 120, 255,'
    var pathItems = []

    $(document).ready(function(){
      var ip = {{ data|tojson }}
      var socket = io.connect('http://' + ip + ':' + get_controller_node_port());
      socket.on('system_nav', function(msg) {
          if(msg.response === 'error')
          {
            console.log("operation failed:")
            console.log(status)
          }
          else
          {
            window.location.href = msg.response
          }
      });

      //load the appropriate data
      socket.emit('get_query', {sender:'tablet', request:'undefinedIntent'})
      socket.on('undefinedIntent_query_stream', function(msg) {
        console.log(msg)

        //set the speakerSelect option according to input
        speakerChoice = msg.agent;
        if(msg.agent === "Robot")
        {
          document.getElementById("robot").click()
        }
        else
        {
          document.getElementById("human").click()
        }

        //set phrase according to input_mode
        var splitPhrase = msg.whole_text.split(" ");
        let flag = false
        for (var i = 0; i < splitPhrase.length; i++) {
            if(msg.text_class[i] == "query")
            {
                flag = true;  //once query label is seen, we know the next "nothing" label will be in the post-query text
                queryPhrase +=  splitPhrase[i] + "&nbsp;";
            }
            else {
                //add text to pre or post query strings, respectively
                if(flag == false){
                  prePhrase +=  splitPhrase[i] + "&nbsp;";
                }
                else {
                  postPhrase +=  splitPhrase[i] + "&nbsp;";
                }

            }
        }

        //build formatted string
        document.getElementById("phrase").innerHTML = "..." + prePhrase + "<span style=\"color: green;\"><i>" + queryPhrase + "</i></span> " + postPhrase;

        //set tags according to existing list
        var currentTagList = []
        msg.intent_categories.forEach(function(element, index){
            if(!currentTagList.includes(element))
            {
                $("#existingTagList").append('<option value="' + element + '" selected="">' + element + '</option>');
                currentTagList.push(element)
            }
        })
        $("#existingTagList").val("--")

        userDefinedCats = {}
        origUserDefinedCats = {}
        //set list of user-defined cats and examples
        msg.user_defined_intent_categories.forEach(function(cat, index){
          userDefinedCats[cat] = []
          origUserDefinedCats[cat] = []
          msg.user_defined_speech_examples[index].forEach(function(example){
            userDefinedCats[cat].push(example)
            origUserDefinedCats[cat].push(example)
          })
        })

        //create/update path map
        //process scene points
        if (msg.layout != 'blank'){
          canvas.clear()
          canvas.loadFromDatalessJSON(msg.layout)
          canvas.setDimensions({ width: xScale, height: yScale });
          canvas.setZoom(0.66)

          canvas.getObjects().forEach((obj) => {
            obj.selectable = false;

            if(typeof obj.region !== 'undefined')
            {
              obj.set('stroke', 'rgba(255,255,255,0)')
              canvas.sendToBack(obj)
            }
            else {
              canvas.bringToFront(obj)
              obj.visible = true
            }
          });
        }
        else {
          canvas.setBackgroundColor('rgba(255,255,255,0.5)', canvas.renderAll.bind(canvas));
        }

        let front = []
        let max = msg.human_path.length
        for(let n=0; n<max; n++)
        {
          console.log(msg.human_path[n])
          let x = Math.round(msg.human_path[n][0] * xScale /0.66)
          let y = Math.round(msg.human_path[n][1] * yScale /0.66)
          let r = minorRadius
          let alpha = minorAlpha
          if(msg.human_path[n][2] == msg.whole_text && speakerChoice == "Human")
          {
            r = majorRadius
            alpha = majorAlpha
          }
          let dot = new fabric.Circle({
            radius: r,
            fill: 'rgba(' + humanColor + alpha + ')',
            left: x ,
            top:  y ,
            selectable: false,
            originX: 'center',
            originY: 'center',
          });
          canvas.add(dot);
          canvas.bringToFront(dot)
          pathItems.push(dot)
          if(msg.human_path[n][2] == msg.whole_text && speakerChoice == "Human")
          {
            dot.setGradient('fill', {
              type: 'radial',
              r1: majorRadius * 0.7,
              r2: majorRadius,
              x1: majorRadius,
              y1: majorRadius,
              x2: majorRadius,
              y2: majorRadius,
              colorStops: {
                  0: 'rgba(' + humanColor + alpha + ')',
                  1: 'rgba(0, 0, 0, 0.8)'
              }
            });
            dot.on('mousedown', function(e){
              alert(msg.human_path[n][2])
            })
            front.push(dot)
          }

          if(n > 0){
            //draw the line to connect them
            let x2 = Math.round(msg.human_path[n-1][0] * xScale /0.66)
            let y2 = Math.round(msg.human_path[n-1][1] * yScale /0.66)
            let l = new fabric.Line([x, y, x2, y2], {
              fill: 'rgba(' + humanColor + minorAlpha + ')',
              stroke: 'rgba(' + humanColor + minorAlpha + ')',
              strokeWidth: 1,
              strokeDashArray: [10, 5],
              selectable: false,
              evented: false,
            });
            canvas.add(l)
            pathItems.push(l)
          }
        }

        max = msg.robot_path.length
        for(let n=0; n<max; n++)
        {
          let x = Math.round(msg.robot_path[n][0] * xScale /0.66)
          let y = Math.round(msg.robot_path[n][1] * yScale /0.66)
          let r = minorRadius
          let alpha = minorAlpha
          if(msg.robot_path[n][2] == msg.whole_text && speakerChoice == "Robot")
          {
            console.log(msg.robot_path[n][2])
            r = majorRadius
            alpha = majorAlpha
          }
          let dot = new fabric.Circle({
            radius: r,
            fill: 'rgba(' + robotColor + alpha + ')',
            left: x ,
            top:  y ,
            selectable: false,
            originX: 'center',
            originY: 'center',
          });
          canvas.add(dot);
          canvas.bringToFront(dot)
          pathItems.push(dot)
          if(msg.robot_path[n][2] == msg.whole_text && speakerChoice == "Robot")
          {
            dot.setGradient('fill', {
              type: 'radial',
              r1: majorRadius * 0.7,
              r2: majorRadius,
              x1: majorRadius,
              y1: majorRadius,
              x2: majorRadius,
              y2: majorRadius,
              colorStops: {
                  0: 'rgba(' + robotColor + alpha + ')',
                  1: 'rgba(50,50,50, 1)'
              }
            });
            dot.on('mousedown', function(e){
              alert(msg.robot_path[n][2])
            })
            front.push(dot)
          }

          if(n > 0){
            //draw the line to connect them
            let x2 = Math.round(msg.robot_path[n-1][0] * xScale /0.66)
            let y2 = Math.round(msg.robot_path[n-1][1] * yScale /0.66)
            let l = new fabric.Line([x, y, x2, y2], {
              fill: 'rgba(' + robotColor + minorAlpha + ')',
              stroke: 'rgba(' + robotColor + minorAlpha + ')',
              strokeWidth: 1,
              strokeDashArray: [10, 5],
              selectable: false,
              evented: false,
            })
            canvas.add(l);
            pathItems.push(l)
          }
        }

        front.forEach(function(spot) {
          spot.bringToFront()
        } )

        canvas.requestRenderAll()
      });

      //setup socket communication for finish button, since it needs socketio
      $("#finish_confirm").click(async function(){

        var newTag = "False"
        let tempPhrase = queryPhrase.replace(/&nbsp;/g," ").trim()
        //console.log(tempPhrase + " vs " + queryPhrase)
        if(newTagName !== "")
        {
            newTag = "True"

            if(!newTagPhrase.includes(tempPhrase))
            {
              newTagPhrase.push(tempPhrase)
            }
        }
        else if (typeof userDefinedCats[tagChoice] !== 'undefined')
        {
          if(!userDefinedCats[tagChoice].includes(tempPhrase))
          {
            userDefinedCats[tagChoice].push(tempPhrase)
          }
        }

        let edited_intent_cat = []
        let edited_speech_ex = []
        Object.keys(userDefinedCats).forEach(function(key){
          if(!userDefinedCats[key].every(val => origUserDefinedCats[key].includes(val)))
          {
            let temp = []
            userDefinedCats[key].forEach(item => temp.push(item))
            edited_speech_ex.push(temp)
            edited_intent_cat.push(key)
          }
        })

        //console.log(newTagPhrase)
        let response = socket.emit('current_query_complete', {type: 'undefinedIntent', label: tagChoice, speaker: speakerChoice, new_cat: newTag, speech_examples: newTagPhrase, edited_intent_categories: edited_intent_cat, edited_speech_examples:edited_speech_ex})

      });


    });

    $("#editSpeech").click(async function(){
      let response = window.prompt("Enter correct speech:",queryPhrase.replace(/&nbsp;/g," "));

      //if they cancel the action, do nothing
      if(response != null)
      {
        //update the text
        queryPhrase = response
        document.getElementById("phrase").innerHTML = "..." + prePhrase + "<span style=\"color: green;\"><i>" + queryPhrase.replace(" ", "&nbsp;") + "</i></span> " + postPhrase;

      }
    })

    $("#robot").click(async function(){
      speakerChoice = "Robot"
      document.getElementById('robot').className = "btn btn-secondary btn-lg";
      document.getElementById('human').className = "btn btn-outline-secondary btn-lg";
    })

    $("#human").click(async function(){
      speakerChoice = "Human"
      document.getElementById('robot').className = "btn btn-outline-secondary btn-lg";
      document.getElementById('human').className = "btn btn-secondary btn-lg";
    })

    $("#tagSelect").click(async function(){

      document.getElementById("autoPhrase_existing").innerHTML = queryPhrase

      $("#existingTagModal").modal({
        backdrop: 'static',
        keyboard: false
      });
      tempUserDefinedCats = $.extend(true,{},userDefinedCats)
      setUserDefinedPhrases()

      $("#existingTagModal").modal("show")

    });

    $("#tagNew").click(async function(){
      document.getElementById("autoPhrase_new").innerHTML = queryPhrase

      $("#newTagModal").modal({
        backdrop: 'static',
        keyboard: false
      });
      $("#newTagModal").modal("show")

    });

    $("#tagNone").click(async function(){
      document.getElementById('tagSelect').className = "btn btn-outline-secondary btn-lg";
      document.getElementById('tagNew').className = "btn btn-outline-secondary btn-lg";
      document.getElementById('tagNone').className = "btn btn-secondary btn-lg";

      document.getElementById('tagSelect').innerHTML = "Select existing category: "
      document.getElementById('tagNew').innerHTML = "Create new category: "

      newTagName = ""
      newTagPhrase = []
      tagChoice = "None"
    });

    $("#cancel_new").click(async function(){
        console.log("cancelled new tag")

    });

    $("#done_new").click(async function(){
        //save modal information
        newTagPhrase = []
        $('#newPhraseTable tr').each(function(){
            $(this).find('input').each(function(){
              if($(this)[0].name.includes("name"))
              {
                newTagPhrase.push($(this)[0].value)
              }

            })
        })

        newTagName = document.getElementById('newTagName').value

        document.getElementById('tagSelect').innerHTML = "Select existing category: "
        document.getElementById('tagNew').innerHTML = "New category: " + newTagName
        tagChoice = newTagName

        document.getElementById('tagSelect').className = "btn btn-outline-secondary btn-lg";
        document.getElementById('tagNew').className = "btn btn-secondary btn-lg";
        document.getElementById('tagNone').className = "btn btn-outline-secondary btn-lg";

    });

    var counter_new = 0;
    $("#addrow_new").on("click", function () {
       var newRow = $("<tr>");
       var cols = "";

       cols += '<td><input type="text" class="form-control" name="name' + counter_new + '"/></td>';

       cols += '<td><input type="button" class="ibtnDel btn btn-md btn-outline-danger "  value="Delete"></td>';
       newRow.append(cols);
       $("#newPhraseTable").append(newRow);
       counter_new++;
    });
    $("#newPhraseTable").on("click", ".ibtnDel", function (event) {
       $(this).closest("tr").remove();
    });

    var counter_existing = 0;
    $("#addrow_existing").on("click", function () {
       var newRow = $("<tr>");
       var cols = "";

       cols += '<td><input type="text" class="form-control" name="name' + counter_existing + '"/></td>';

       cols += '<td><input type="button" class="ibtnDel btn btn-md btn-outline-danger "  value="Delete"></td>';
       newRow.append(cols);
       $("#existingPhraseTable").append(newRow);
       counter_existing++;
    });
    $("#existingPhraseTable").on("click", ".ibtnDel", function (event) {
       $(this).closest("tr").remove();
    });

    $("#existingTagList").on("change", function(e){
        //update rows of user-defined speech examples
        //first save current ones if applicable
        updateUserDefinedCats()

        //then update new ones if applicable
        selectedExistingTag = e.target.value
        setUserDefinedPhrases()
    });

    function updateUserDefinedCats(){
      if(typeof tempUserDefinedCats[selectedExistingTag] !== 'undefined')
      {
        tempUserDefinedCats[selectedExistingTag] = []
        $('#existingPhraseTable tr').each(function(){
            $(this).find('input').each(function(){
              if($(this)[0].name.includes("name"))
              {
                if($(this)[0].value !== "")
                {
                  tempUserDefinedCats[selectedExistingTag].push($(this)[0].value.trim())
                }

              }

            })
        })
      }
    }

    function setUserDefinedPhrases(){
      if(typeof tempUserDefinedCats[selectedExistingTag] !== 'undefined')
      {
        //clear table
        $('#existingPhraseTable tr').each(function(){
            $(this).find('input').each(function(){
              $(this).closest("tr").remove();
            })
        })

        counter_existing = 0;
        tempUserDefinedCats[selectedExistingTag].forEach(function(ex){
          var newRow = $("<tr>");
          var cols = "";

          cols += '<td><input type="text" class="form-control" name="name' + counter_existing + '" value="' + ex + '"/></td>';

          cols += '<td><input type="button" class="ibtnDel btn btn-md btn-outline-danger "  value="Delete"></td>';
          newRow.append(cols);
          $("#existingPhraseTable").append(newRow);

          counter_existing++;

        })
        $('#existingInstructionText')[0].innerHTML = "Possible phrases for this category:"
        $('#existingPhraseTable').attr('hidden', false);
        $('#addrow_existing').attr('hidden', false);

      }
      else {
        if(selectedExistingTag === "--")
        {
          $('#existingInstructionText')[0].innerHTML = ""
        }
        else {
          $('#existingInstructionText')[0].innerHTML = "Cannot edit phrases of default categories."
        }
        $('#existingPhraseTable').attr('hidden', true);
        $('#addrow_existing').attr('hidden', true);
      }
    }

    $("#cancel_select").click(async function(){
        console.log("cancelled selecting tag")
    });

    $("#done_select").click(async function(){
        updateUserDefinedCats()

        userDefinedCats = $.extend(true,{},tempUserDefinedCats)


        tagChoice = document.getElementById("existingTagList").value

        //then update selection if it's not blank
        document.getElementById('tagSelect').innerHTML = "Existing category: " + tagChoice
        document.getElementById('tagNew').innerHTML = "Create new category: "

        document.getElementById('tagSelect').className = "btn btn-secondary btn-lg";
        document.getElementById('tagNew').className = "btn btn-outline-secondary btn-lg";
        document.getElementById('tagNone').className = "btn btn-outline-secondary btn-lg";

        newTagName = ""
        newTagPhrase = []
    });

    $("#done").click(async function(){
      //TODO: error check that user filled in all pertinent information
      console.log("done with query")
      if(tagChoice === "unselected")
      {
        alert("Please fill in all information before exiting.")
      }
      else {
        $("#confirmationModal").modal("show")
      }

    })

    $("#cancel_confirm").click(async function(){
      $("#confirmationModal").modal("hide")
    });

  </script>
</body>
</html>
